@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body {
  height: 100%;
  margin: 0;
}

.container-wrapper {
  width: 96%;
  margin: 0 auto;
}

.container-wrapper-footer {
  width: 85%;
  margin: 0 auto;
}

.container-wrapper-movie {
  width: 85%;
  margin: 0 auto;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: black;
}


.limit-movie-summary {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}